!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/javascripts/cm/lib/codemirror.css")
    link(rel="stylesheet", href="/javascripts/cm/theme/elegant.css")
  body
    !{body}
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(src="/javascripts/cm/lib/codemirror.js")
    script(src="/javascripts/cm/mode/haskell/haskell.js")
    script(src="/nowjs/now.js")
    script(src="/javascripts/main.js")
